* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.bodyform {
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

td {
    text-align: center;
}

.boxlogin {
    position: relative;
    height: 420px;
    width: 380px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.boxlogin form {
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.boxlogin form h2 {
    color: white;
    font-weight: 500;
    text-align: center;
}

.boxlogin form .boxinput {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.boxlogin form .boxinput input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.boxlogin form .boxinput span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.boxlogin form .boxinput input:valid~span,
.boxlogin form .boxinput input:focus~span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}


.boxlogin form .boxinputsenha {
    position: relative;
    width: 250px;
    margin-top: 35px;
}

.boxlogin form .boxinputsenha input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.boxlogin form .boxinputsenha span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.boxlogin form .boxinputsenha input:valid~span,
.boxlogin form .boxinputsenha input:focus~span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.boxlogin form .boxinputsenha i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.boxlogin form .boxinputsenha input:valid~i,
.boxlogin form .boxinputsenha input:focus~i {
    height: 44px;
}

.boxlogin form .boxinput i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.boxlogin form #icon {
    position: absolute;
    top: 75%;
    right: 35px;
    transform: translateY(-50%);
    background: url(../imagens/olho.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.boxlogin form #icon.hide {
    background: url(../imagens/close.png);
    background-size: cover;
}

.boxlogin form .boxinput input:valid~i,
.boxlogin form .boxinput input:focus~i {
    height: 44px;
}

.boxlogin form .links {
    display: flex;
    justify-content: space-between;
}

.boxlogin form .links a {
    margin: 10px 0;
    font-size: 0.7em;
    color: #8f8f8f;
    text-decoration: none;
}

.boxlogin form .links a:hover,
.boxlogin form .links a:nth-child(2) {
    color: #fff;
}

.boxlogin form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.boxlogin form input[type="submit"]:active {
    opacity: 0.8;
}

.boxcad {
    position: relative;
    height: 450px;
    width: 380px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.boxcad form {
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.boxcad form h2 {
    color: white;
    font-weight: 500;
    text-align: center;
}

.boxcad form .boxinput {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.boxcad form .boxinput input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.boxcad form .boxinput span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.boxcad form .boxinput input:valid~span,
.boxcad form .boxinput input:focus~span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.boxcad form .boxinput i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.boxcad form .boxinput input:valid~i,
.boxcad form .boxinput input:focus~i {
    height: 44px;

}

.boxcad form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.boxcad form input[type="submit"]:active {
    opacity: 0.8;
}

.main {
    display: flex;
    justify-content: center;
}

.card{
    margin: 10px;
    background-color: #1c1c1c;
    color: white;
    width: 300px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card .text-container>h1{
    font-size: 25px;
    padding-top: 10px;
}

.card .text-container>h2{
    font-size: 20px;
    padding-top: 10px;
}

.card .text-container>p{
    font-size: 17px;
    padding: 5px 20px;
}

.card>img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .text-container .links{
    text-decoration: none;
}